body{
    font-family: "serif";
    background-color: #ffe6c5;
}
.box{
    float: none;
    width: auto;

    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 30px;
    overflow-y: scroll;
}
p{
    font-size: 35px;
}
.syasinn{
    text-align: center;
}
.ru-ru{
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #ffc06e;
    border-radius: 8px;
}
.ru-ru .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 25px;
    background:white;
    color: #ffc06e;
    font-weight: bold;
}
#tenn{
    font-size: 12.5px;
}
#kekka{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #c0c0c06c;
}
h1{
    font-size: 20px;
    padding: 10px;
    margin: 2px 0;
    background-color: #f3f3f3;
    border-left: solid 10px #ffc06e;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17.5px;

}
.subbox{
    float: right;

    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}
pre{
    font-size: 17.5px;
}
